.Banner {
    width: 90%;
    height: 60vh;
    background: url('../Assets/roman-bozhko-PypjzKTUqLo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.Header {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Heading {
    font-size: 2rem;
    font-weight: 100;
    width: 80%;
    margin: 0;
    text-align: center;
}

.List {
    list-style: none;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Item {
    display: flex;
    align-items: center;
    width: 50%;
}

.Icon {
    color: #114b5f;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.ButtonContainer {
    padding-left: 1rem;
}